*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}




.container{
    width: 100%;
    height: 35rem;
    justify-content: center;
    max-width: 1300px;
    margin:  auto;
    margin-top: 6rem;

}


.login-image{
    height: 30rem;
}

.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

input[type=text],
input[type=password],
input[type=email] {
    background-color: #edf2f5;
    border:none;
    padding:1.5rem;
    border: 1px solid rgb(218, 210, 210);
    border-radius: 5px ;
    
}


.input-field{
    width: 100%;
}

.right-section{
    margin-left: 4rem;
    gap: 2rem;
    width: 30%;
}

h1 { font-weight: normal; }

.link{
    display: flex;
    justify-content: space-between;
}

.login-btn{
    width: 100%;
    padding: 1.2rem;
    background-color: #2F3C7E;
    border-color: #2F3C7E;
    border-radius: 5px;
    color: white;
    font-size: large;
    transition: all 0.2s;
}

.login-btn:hover{
    opacity: 0.8;
    cursor: pointer;
    transform: translateY(0.1rem);
}


input[type=checkbox]{
    margin: 0 10px ;
    width: 15px;
    height: 15px;
}

.signup{
    display: flex;
    justify-content: center;
}

#error{
    color: red;
}

