*{
    box-sizing: border-box;
}
.end-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
    border: 1px solid black;
    margin: 10rem auto;
    padding: 3rem;
    background-color:#2F3C7E;
    color:white;
    border-radius: 10px;
}

.end-card p{
    font-size: 2rem;
}

.home-btn,
.play-btn{
    font-size: 1.5rem;
    padding: 0.5rem 1rem; 
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #2F3C7E;
    font-weight: bold;
}

.home-btn:hover,
.play-btn:hover{
    scale: 1.025;
    opacity: 0.8;
}

.button{
    display: flex;
    justify-content: flex-end;
}

.play-btn{
    margin-right: 2rem;
}